.input-container {
  margin-bottom: 20px;
}

.input {
  display: block;
  margin: 6px 0 15px 0;
}

.btn {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;

  padding: 10px 15px;
  border-radius: 1px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #315efb;
}

.btn:hover {
  background: #b3c3fc;
}

.card-image {
  width: 300px;
}